#gameArea{
    text-align: center;
}

.generalGrid{
    border: 1px solid rgb(0, 0, 0);
    float: left;
}

.colorStick{
    background-color: red;
}

.gridButton{
    display: inline-block;
    margin-bottom: 20px;
}

.rowDiv{
    display: inline-block;
}